html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.article-image {
    width: 100%; 
    height: auto; 
    max-height: 600px;
    max-width: 1024px; 
    object-fit: contain;
}

@media (min-width: 1024px) {
    .article-image {
        max-height: 600px;
    }
}

@media (max-width: 768px) {
    .article-image {
        max-height: 400px; 
    }
}

.container {
    padding-left: 15px;
    padding-right: 15px;
}

.navbar-nav .nav-link {
    font-weight: bold;
}

.navbar-nav .nav-link:hover {
    color: #258cfb;
}

.btn-primary {
    background-color: #258cfb;
    border: none;
}