@model BlogWebApp.ViewModels.RegisterViewModel
@{
    ViewData["Title"] = "Register";
}

<h2>Регистрация</h2>

<form asp-action="Register" asp-controller="Account" method="post">
    <div>
        <label>Username</label>
        <input asp-for="Username" type="text"/>
    </div>
    <div>
        <label>Email</label>
        <input asp-for="Email"/>
    </div>
    <div>
        <label>Пароль</label>
        <input asp-for="Password" type="password" />
    </div>
    <div>
        <label>Подтвердите пароль</label>
        <input asp-for="ConfirmPassword" type="password" />
    </div>
    <button type="submit">Зарегистрироваться</button>
</form>