@model BlogWebApp.ViewModels.RegisterViewModel
@{
    ViewData["Title"] = "Register";
}

<h2>Регистрация</h2>

<form asp-action="Register" asp-controller="Account" method="post">

    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <div class="form-group mb-3">
        <label asp-for="Username">Username</label>
        <input asp-for="Username" type="text" class="form-control"/>
        <span asp-validation-for="Username" class="text-danger"></span>
    </div>

    <div class="form-group mb-3">
        <label asp-for="Email">Email</label>
        <input asp-for="Email" type="email" class="form-control"/>
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>

    <div class="form-group mb-3">
        <label asp-for="Email">Пароль</label>
        <input asp-for="Password" type="password" class="form-control"/>
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>

    <div class="form-group mb-3">
        <label asp-for="ConfirmPassword">Подтвердите пароль</label>
        <input asp-for="ConfirmPassword" type="password" class="form-control"/>
        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Зарегистрироваться</button>
</form>

@section Scripts {
    <partial name ="_ValidationScriptsPartial" />
}