@using BlogWebApp.ViewModels
@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<div class="container mt-5">
    <div class="text-center">
        <h1 class="display-4 text-danger">Что-то пошло не так</h1>
        <p class="lead">
            Произошла непредвиденная ошибка на сервере.
            Пожалуйста, попробуйте позже или обратитесь к администрации сайта.
        </p>

        @if (!string.IsNullOrEmpty(Model.RequestId))
        {
            <p class="text-muted"> <!--Убрать на проде-->
                Идентификатор запроса: <strong>@Model.RequestId</strong>
            </p>
        }

        <a class="btn btn-primary mt-3" href="@Url.Action("Index", "Home")">На главную</a>
    </div>
</div>
