@using BlogWebApp.ViewModels
@model ArticleViewModel
@{
    ViewData["Title"] = "Создать пост";
}

<h2>Создать новый пост</h2>
<form asp-action="Create" method="post" enctype="multipart/form-data">

    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    @Html.AntiForgeryToken()

    <div class="form-group mb-3">
        <label asp-for="Title" class="form-label">Заголовок</label>
        <input asp-for="Title" class="form-control" />
        <span asp-validation-for="Title" class="text-danger" />
    </div>

    <div class="form-group mb-3">
        <label asp-for="ImageFile" class="form-label">Изображение</label>
        <input asp-for="ImageFile" type="file" class="form-control" />
        <span asp-validation-for="ImageFile" class="text-danger" />
    </div>

    <div class="form-group mb-3">
        <label asp-for="Content" class="form-label">Текст поста</label>
        <textarea asp-for="Content" class="form-control" rows="8"></textarea>
        <span asp-validation-for="Content" class="text-danger" />
    </div>

    <div class="form-group mb-3">
        <label asp-for="GenreId" class="form-label">Жанр</label>
        @if (Model.Genres == null || !Model.Genres.Any())
        {
            <p>Пока нет ни одного жанра.</p>
        }
        else
        {
            <select asp-for="GenreId" asp-items="@(new SelectList(Model.Genres, "GenreId", "GenreName"))" class="form-control">
                <option value="">Выберите жанр</option>
            </select>
        }          
        <span asp-validation-for="GenreId" class="text-danger" />      
    </div>  

    <button class="btn btn-primary mt-3" type="submit">Создать пост</button>
    <a asp-controller="Blog" asp-action="Index" class="btn btn-secondary mt-3">Назад</a>
</form>

<div class="mt-2">
    <a asp-controller="Genre" asp-action="Create" class="btn btn-outline-primary btn-sm">
        Создать жанр
    </a>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial"/>
}

